[user]
	name = "Karrick McDermott"
	email = "karrick@karrick.net"

[core]
	pager = less -FRSX
	editor = emacsclient -a ''

[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto

[alias]
	st = status
	ci = commit

[github]
	user = karrick
	token = 869f2e40bc54e6e3d670f25ea7d55aab
